/*
primary
primary-light
primary-dark
secondary-
accent
background-primary
background-secondary

info-blå + dark/light
success +dark/light
warning-orange +dark/light
danger- + dark/light
inactive +dark/light
*/
.primary{
  color:#494949;
}
.secondary{
  color:#ffffff;
}
.accent{
  color:#ce8833;
}
.success{
  color:#fce146;
}
.warning{
  color:#ed1e1e;
}
.danger{
  color:#ffae00;
}
.info{
  color:#f2ff00;
}
.background{
  background-color:#dee1e5;
}
.background2{
  background-color:#e1e1e1;
}
.border{
  border:orange 3px double;
}
.border-2{
  border:#4e6487 3px double;
}
