/*
primary
primary-light
primary-dark
secondary-
accent
background-primary
background-secondary

info-blå + dark/light
success +dark/light
warning-orange +dark/light
danger- + dark/light
inactive +dark/light
*/
.primary{
  color:#0f0f0f
}
.primary-light{
  color:#ffffff;
}
.secondary{
  color:#e8491d;
}
.accent{
  color:#ce8833;
}
.success{
  color:#fce146;
}
.warning{
  color:#ed1e1e;
}
.danger{
  color:#ffae00;
}
.info{
  color:#f2ff00;
}
.background-primary{
  background-color:#f2f2f2;
}
.background-secondary{
  background-color:#35424a;
}
.border{
  border:#e8491d 3px double;
}
.border-2{
  border:#35424a 3px double;
}
.border-top{
  border:#e8491d;
}
.red{
  background-color:red;
}
.green{
  background-color:green;
}
.blue{
  background-color:blue;
}
.yellow{
  background-color:yellow;
}
.purple{
  background-color:purple;
}
