/* NAVBAR */
.navbar{
  border-bottom: solid 3px #e8491d;
  position:sticky;
  color:#f2f2f2;
}
.sidebar-left{
  border-right: solid 3px #e8491d;
}
/* HEADLINER */
.headliner{
  border: double 3px #35424a;
}
/* BOXES */
.boxes{
  border:double 3px #35424a;
}
/* FOOTER */
.footer{
  border-top: solid 3px #e8491d;
}
.card-employee{
  height:150px;
  width:150px;
  border: solid 1px #e8491d;
  background-color:#ffffff;
  margin:5px;
}
.card-product{
  height:100%;
  width:400px;
  border: solid 1px #e8491d;
  background-color:#ffffff;
  margin:5px;
  padding:5px;
}
.box-dashboard-small{
  height:150px;
  width:150px;
  border: solid 1px #35424a;
}
.box-dashboard-large{
  height:250px;
  width:400px;
  border: solid 1px #35424a;
}
