/* NAVBAR */
.navbar{
  border-bottom: solid 3px #e8491d;
  position:sticky;
}
.sidebar-left{
  border-right: solid 3px #e8491d;
}
/* HEADLINER */
.headliner{
  border: double 3px #35424a;
}
/* BOXES */
.boxes{
  border:double 3px #35424a;
}
/* FOOTER */
.footer{
  border-top: solid 3px #e8491d;
}
.card-employee{
  height:150px;
  width:150px;
  border: solid 1px #e8491d;
  background-color:#ffffff;
  margin:5px;
}
.card-product{
  height:100%;
  width:300px;
  border: solid 1px #e8491d;
  background-color:#ffffff;
  margin:5px;
  padding:5px;
}
