.img{
  max-width:100%;
  max-height:100%;
  display:block;

}
.img-portrait-md{
 height:200px;
 width:150px;
}
.img-landscape-md{
  height:150px;
  width:300px;
}
.img-position{
  object-fit:scale-down;
}
.img-size{
  width:180px;
  height:140px;
}
