
.viewport{
  height:100vh;
  width:100vw;
}
/* FLEX*/
.flex-container-row{
  display:flex;
  flex-direction:row;
}
.flex-container-column{
  display:flex;
  flex-direction:column;
}
/* GRID */
.grid-layout-default{
  display:grid;
  grid-template-columns:1fr 80% 1fr;
  grid-template-rows:10% 1fr 1fr 1fr 1fr 1fr 10%;
  height:100%;
}

/* GRID POSITION FOR USER PAGE START */
.grid-layout-user-profile{
  display:grid;
  grid-template-columns: 1fr 70%;
  grid-template-rows: 1 / 2;
  height:100%;
}
.grid-area-image{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.grid-area-image-text{
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
/* GRID POSITION FOR USER PAGE END */

/* GRID POSITIONS */
.grid-navbar{
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.grid-sidebar-left{
  grid-column: 1 / 2;
  grid-row: 2 / 7;
}
.grid-headliner-products{
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}
.grid-headliner{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.grid-area-container{
   grid-column: 2 / 3;
   grid-row: 5 / 6;
}
.grid-footer{
  grid-column: 1 / 4;
  grid-row: 7 / 8;
}
.grid-footer-employee{
  grid-column: 1 / 4;
  grid-row: 6 / 7;
}
.grid-area-login{
  grid-column: 2 / 3;
  grid-row: 3 / 6;
}
.grid-area-products{
  grid-column: 2 / 4;
  grid-row: 3 / 7;
}
.grid-area-user-top{
  grid-column: 1 / 4;
  grid-row: 2 / 4;
}
.grid-area-user-bottom{
  grid-column: 1 / 4;
  grid-row: 4 / 7;
}
/* GRID end*/
