/*
body{
  margin:0px;
}
*/
.page{
  height:100%;
  width:100%;
  margin:0px;
}
.viewport{
  height:100vh;
  width:100vw;
}
/* FLEX */
.flex-container-row{
  display:flex;
  flex-direction:row;
  justify-content:center;
}
.flex-container-column{
  display:flex;
  flex-direction:column;
}
/* GRID */
.grid-layout{
  display:grid;
  grid-template-columns:1fr 80% 1fr;
  grid-template-rows:10% 1fr 1fr 1fr 1fr 1fr 10%;
  height:100%;
}
.grid-navbar{
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.grid-headliner{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.grid-container-boxes{
   grid-column: 2 / 3;
   grid-row: 5 / 6;
}
.grid-footer{
  grid-column: 1 / 4;
  grid-row: 7 / 8;
}
/* BOX */
.box{
  border:#35424a 1px solid;
}
