/*
body{
  margin:0px;
}
*/
.page{
  height:100%;
  width:100%;
  margin:0px;
}
.viewport{
  height:100vh;
  width:100vw;
}
/* FLEX*/
.flex-container-row{
  display:flex;
  flex-direction:row;
  height:100%
}
.flex-container-column{
  display:flex;
  flex-direction:column;
}
/* GRID for INDEX start */
.grid-layout-default{
  display:grid;
  grid-template-columns:1fr 80% 1fr;
  grid-template-rows:10% 1fr 1fr 1fr 1fr 1fr 10%;
  height:100%;
  overflow:visible;
}
.grid-navbar{
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.grid-headliner{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.grid-container{
   grid-column: 2 / 3;
   grid-row: 5 / 6;
}
.grid-footer{
  grid-column: 1 / 4;
  grid-row: 7 / 8;
}
.grid-footer-top{
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}
.grid-area-login{
  grid-column: 2 / 3;
  grid-row: 3 / 6;
}
/* GRID for INDEX end*/

/* GRID for LOGIN */
/*
.grid-layout-login{
  display:grid;
  height:100%;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows:10% 1fr 10%;
}
.grid-navbar-login{
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}
.grid-content-login{
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.grid-footer-login{
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
*/
/* GRID for LOGIN end */



/* BOX */
.box{
  border:#35424a 1px solid;
}
.login-box{
  border:#35424a 1px solid;
  height:500px;
  width:500px;
}
