/* FONT AND TEXT*/
.font-4{
  font-size:4em;
}
.font-size{
  font-size: 75px;
}
.text-align-center{
  text-align:center;
}
.flex-justify-center{
  justify-content:center;
  align-items:center;
}
.text-float-right{
  float:right;
}
.align-items{
  align-items:center;
}
