/* FONT AND TEXT*/
.font-4{
  font-size:4em;
}
.font-size{
  font-size: 75px;
}
.text-align-center{
  text-align:center;
}
.text-align-right{
  text-align:right;
}
.flex-justify-center{
  justify-content:center;
  align-items:center;
}
.flex-justify-right{
  justify-content:right;
}
.text-float-right{
  float:right;
  align-items:right;
}
.align-items{
  align-items:center;
}
.word-break{
  word-break:break-all;
}
.word-wrap{
  word-wrap:break-word;
}
.font-style-flower{
  font-family: 'Indie Flower', cursive;
}
