body{
  margin:0;
}
li ul ol{
  list-style:none;
  padding-left:0;
}
a{
  cursor:pointer;
  text-decoration:none;
}

/* MARGIN AND PADDING*/
.margin{
  margin:5px;
}
.padding{
  padding:5px;
}
.padding-1em{
  padding:1em;
}
.margin-center-product-card{
  margin-left:1px;
  margin-right:auto;
}
.margin-center{
  margin-left:auto;
  margin-right:auto;
}
.margin-button-fix{
  margin-right:5px;
}
.margin-left{
  margin-left:10%;
}
.margin-right{
  margin-right:10%;
}
.padding-top{
  padding-top:20px;
}
.sticky{
  position:sticky;
}
.overflow-scroll{
  overflow:scroll;
}
.wrap{
  flex-flow:wrap;
}
.height-2em{
  height:2em;
}
.height100{
  height:100%;
}
