body{
  margin:0;
}
li ul ol{
  list-style:none;
  padding-left:0;
}
a{
  cursor:pointer;
  text-decoration:none;
  text-transform:uppercase;
  color:#f2f2f2;
  margin:2em;
}

/* MARGIN AND PADDING*/
.margin-5px{
  margin:5px;
}
.padding-1em{
  padding:1em;
}
.margin-1em{
  margin:1em;
}
.margin-center-product-card{
  margin-left:1px;
  margin-right:auto;
}
.margin-center-auto{
  margin-left:auto;
  margin-right:auto;
}
.margin-left10{
  margin-left:10%;
}
.margin-right10{
  margin-right:10%;
}
.padding-top{
  padding-top:20px;
}
.sticky{
  position:sticky;
}
.overflow-scroll{
  overflow:scroll;
}
.wrap{
  flex-flow:wrap;
}
.height-2em{
  height:2em;
}
.height100{
  height:100%;
}
